/* navigation */

#main {
  z-index: 100;
  position: fixed;
  top: 0;
  width: 100%;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  border-bottom: 1px solid black;
  grid-gap: 1px;
}



nav a {
  text-decoration: none;
	color: rgb(219, 24, 24);
}

#main a {


}

.logo {
  padding-left:10px;
  font-weight: bold;
  display: block;
  color: blue;
}

#main .logo {

}

#main {
  background: #ffffff;
}

@media (max-width: 550px) {
  #logo-part-2 {
    display: none;
  }
  nav#main, nav#main input {
    font-size: 12px;
  }
}

#search-input {
  background: transparent;
}
