{{ define "main" }}

<style>
  #page-404 {
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background: blue;
  }

  #page-404 * {
    color: white;
  }

  footer {
    margin-top: 0px;
  }
</style>

<div id="page-404">
  <div class="text">
    {{ with .Site.Params.title404 }}
    <h1>{{ . }}</h1>
    {{ else }}
    <h1>{{ i18n "404title" }}</h1>
    {{ end }} {{ with .Site.Params.subtitle404 }}
    <div>{{ . }}</div>
    {{ else }}
    <div>{{ i18n "404subtitle" }}</div>
    {{ end }}
    <a href="/" class="btn">home</a>
  </div>
</div>
{{ end }}
